<div class="container">
  <div class="row">
    <div class="col-md-12 form-group">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            Enter your Search String
          </div>
          <div class="panel-body">
            <div class="col-md-10">
              <input type="text" class="form-control" ng-model="model.querystring"/>  
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary" ng-click="submitQuery(model.querystring)">Search</button>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
  <div class="row" ng-if="model.result.status">
    <div class="col-md-12 form-group">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            Your search Results ... 
          </div>
          <div class="panel-body">
            <div class="col-md-12">
               <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="col-md-2">Results #</th>
                    <th class="col-md-10">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="res in model.result.result">
                    <td>{{$index}}</td>
                    <td>{{res[0]}}</td>
                  </tr>   
                </tbody>
               </table>
            </div>
            <div class="col-md-2">
              
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>    
</div>

  
  
  
  


